---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  <h2>Anchor pages</h2>
    <ul>
      <li><a href="/mains/2019/03/09/gan.html"><code class="highligher-rouge"><nobr>analysis</nobr></code></a></li>
      <li><a href="/_mains/probability"><code class="highligher-rouge"><nobr>probability</nobr></code></a></li>
      <li><b><a href="/mains/2019/03/09/gan.html"><nobr>Generative Adversarial Networks</nobr></a></b></li>
      <li><a href="/_mains/segmentation"><code class="highligher-rouge"><nobr>segmentation</nobr></code></a></li>
    </ul>
  {% include tags.html %}
  asdasd
  {%- if site.posts.size > 0 -%}
    <br/><br/>
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>-->
	
  {%- endif -%}

</div>
